{% extends "base.html" %}
{% load static %}

{% block titulo %}Crear Cuenta{% endblock titulo %}

{% block clasebody %}class="bg-gradient-primary"{% endblock clasebody %}

{% block content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear Cuenta</h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                
                                {% for field in form %}  
                                    <div class="form-group">
                                        {{ field.label_tag }}<br>  
                                        {{ field }}  
                                    </div>
                                    {% for error in field.errors %}  
                                        <p style="color: red">{{ error }}</p>  
                                    {% endfor %} 
                                {% endfor %}
                               
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Crear Cuenta">
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url "password_reset" %}">¿Olvidaste la Contraseña?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url "login" %}">¿Ya tienes cuenta? Conectate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock content %}