{% extends "base.html" %}
{% load static %}


{% block titulo %}STEAM{% endblock titulo %}STEAM

{% block clasebody %}id="page-top"{% endblock clasebody %}

{% block content %}


    <!-- Page Wrapper -->
    <div id="wrapper">

        {% block sidebar %}{% include "sidebar.html" %}{% endblock sidebar %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% block topbar %}{% include "top-bar.html" %}{% endblock topbar %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}

                    <button id="startScan">Iniciar escaneo</button>
                    <button id="stopScan">Detener escaneo</button>
                    <video id="preview" style="max-width: 100%; max-height: 100%;"></video>



                    <!-- Campo oculto para el token CSRF -->
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


                    <!--Lector QR-->
    <script type="text/javascript" src="https://cdn.rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script type="text/javascript">
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
            console.log(content);
            let csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
            if (csrfTokenElement) {
                let csrfTokenValue = csrfTokenElement.value;
                $.ajax({
                    url: '/administracion/procesar_qr/',
                    method: 'POST',
                    data: {
                        'qr_data': content,
                        'csrfmiddlewaretoken': csrfTokenValue
                    },
                    success: function (data) {
                        console.log(data);
                        alert(data.message);
                        if (data.message === "Asistencia registrada con éxito") {
                            scanner.stop();
                        }
                    }
                });
            } else {
                console.error('El elemento csrfmiddlewaretoken no se encontró en el DOM.');
            }
        });
        document.getElementById('startScan').addEventListener('click', function() {
            Instascan.Camera.getCameras().then(function (cameras) {
                // Buscar la cámara trasera
                var rearCamera = cameras.find(camera => camera.label.toLowerCase().includes('back'));
                if (rearCamera) {
                    // Si se encuentra la cámara trasera, iniciar el escáner con esa cámara
                    scanner.start(rearCamera);
                } else if (cameras.length > 0) {
                    // Si no se encuentra la cámara trasera pero hay otras cámaras disponibles, iniciar el escáner con la primera cámara
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
                document.getElementById('preview').style.display = 'block';
            }).catch(function (e) {
                console.error(e);
            });
        });
        
        

document.getElementById('stopScan').addEventListener('click', function() {
    scanner.stop();
});


    </script>

                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Presiona Salir para dirigirte a la página de Inicio de Sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url "login" %}">Salir</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}